.loader {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px dashed #fff;
  animation: rotate 1s infinite linear;
}
.loaderWrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #313e4c;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
